
@{
    ViewData["Title"] = "Success";
}

<section style="text-align:center;">
    <p>
        Purchase Success! Your parcel will be prepared and sent out.
        <button type="button" onclick="location.href='@Url.Action("Index","Home")'">Back to Home</button>
    </p>
</section>
